@import '@/styles/_variables.scss';

.container {
  position: absolute;
  z-index: 1000;
  background-color: $color-bg-alternative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 0.25s ease-out;
  opacity: 1;
  visibility: visible;
}

.bgImage {
  position: absolute;
  width: 100%;
  height: 20rem;
  top: 0;
  z-index: 1001;

  @include md {
    height: 50rem;
  }
}

.container:not(.isOpen) {
  opacity: 0;
  visibility: hidden;
}

.content {
  position: relative;
  z-index: 1002;
  margin: 15rem auto 0;
  padding: 2rem 2rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.25s ease;
  background-color: #88a0ac;
  opacity: 0;
  text-align: center;

  @include md {
    width: 66vw;
    min-width: 800px;
    max-width: 1215px;
    margin-top: 18rem;
    padding: 2rem 4rem 10rem;
  }
}

.content p {
  font-family: Danmark;
  font-size: 1.67rem;
  font-weight: bold;
  margin: 1.5rem 0 3rem;

  @include md {
    font-size: 1rem;
    margin: 1rem 0 1.3rem;
  }
}

.heading {
  text-transform: uppercase;
  margin-bottom: 1.7rem;
  line-height: 1.1;
}

.isLoaded .content {
  opacity: 1;
}

.actions {
  display: flex;
  margin-top: 2rem;

  @include md {
    margin-top: 0;
  }
}

.actions a:first-child {
  margin-right: 1.75rem;
}

.actions a:last-child {
  margin-left: 1.75rem;
}

.logoImage {
  margin-top: -10rem;
  padding: 1.5rem;
  background-color: $color-bg-alternative;

  @include md {
    margin-top: 5rem;
    padding: 0;
  }
}
