.wrapper {
  border: 1px solid gray;
  padding: 2rem;
  margin: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.category {
  text-transform: uppercase;
  color: #aaa;
  font-size: 0.66rem;
}

.name {
  font-weight: bold;
  font-size: 1.1rem;
}

.style {
}

.photo {
  width: 200px;
  height: 200px;
  margin-bottom: 1rem;
}

.button {
  cursor: pointer;
  margin: 0.5rem 0;
  display: none;
}
