.wrapper {
  padding: 3rem 2rem 2rem;
  margin: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  width: 285px;
}

.details {
  opacity: 0;
  text-align: center;
}

.wrapper:hover .details {
  opacity: 1;
  transform: translateY(0);
}

.photo,
.details {
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.wrapper:hover .photo {
  transform: translateY(-20px);
}

.category {
  text-transform: uppercase;
  color: #888;
  font-size: 0.66rem;
}

.name {
  font-weight: bold;
  font-size: 1.1rem;
}

.photo {
  margin-bottom: 1rem;
}

.style {
  margin-bottom: 1rem;
}

.details {
  transform: translateY(50px);
}

.active {
  font-weight: bold;
}
