@import '@/styles/_variables.scss';

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 30%;
  margin: 0 1rem;
  text-align: center;
  position: relative;

  @include md {
    width: 15.83rem;
    height: 510px;
  }

  @include xl {
    height: 530px;
  }

  @include xxl {
    height: 560px;
  }
}

.simpleWrapper {
  width: 94%;
  border-bottom: 1px solid $color-link-active;
  margin-left: 6%;
}

.outerWrapper {
  width: 100%;
  height: 490px;
  border-right: 1px solid $color-link-active;

  @include xl {
    height: 510px;
  }

  @include xxl {
    height: 540px;
  }

  &:last-child,
  &:nth-child(3n) {
    border-right: none;
  }
}

.details {
  z-index: 2;
  opacity: 0;
  position: absolute;
  bottom: 0;
  transform: translateY(50px);
}

.slider {
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  input {
    transform: rotate(-90deg);
    position: absolute;
    left: 5rem;
    top: 250px;
    width: 285px;
  }
}

.simpleDetails {
  position: absolute;
  bottom: 2rem;
  transform: translateY(20px);
}

.simpleLink {
  opacity: 0;
  transform: translateY(30px);
}

.wrapper:hover .slider {
  opacity: 1;
}

.wrapper:hover .simpleLink,
.wrapper:hover .details,
.wrapper:hover .simpleDetails {
  opacity: 1;
  transform: translateY(0);
}

.slider,
.photoWrapper,
.details,
.simpleDetails,
.simpleLink {
  transition: all 0.75s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.wrapper:hover .photoWrapper {
  transform: translateY(-20px);
}

.name {
  font-family: Danmark;
  font-weight: bold;
  font-size: 1.27rem;
}

.photoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 417px;
}

.style {
  margin-bottom: 1rem;
  font-size: 1.27rem;
}

.active {
  a {
    color: $color-link-hover;
  }
}

.header {
  position: relative;
  margin-top: $height-header-mobile;
  height: 30rem;

  @include md {
    margin-top: $height-header-desktop;
  }
}

.headerContent {
  position: absolute;
  bottom: 4.5rem;
  width: 100%;
  margin-left: 24rem;
}

.title {
  display: inline-flex;
  flex-direction: column;
  span {
    padding: 1rem 3rem;
    background-color: white;

    &:nth-child(2) {
      padding-top: 0;
      margin-right: 4rem;
    }
  }
}

.beerMenu {
  list-style-type: none;
  height: 490px;
  margin: 0;
  padding: 4.5rem 0;
  font-size: 1.28rem;
  border-right: 1px solid $color-link-active;

  @include xl {
    height: 510px;
  }

  @include xxl {
    height: 540px;
  }

  li {
    width: 24rem;
    margin: 0;
    padding: 1rem 0;
  }
}

.beerContent {
  display: flex;
  margin-top: -3rem;
}

.listWrapper {
  display: grid;
  margin-right: 1rem;
  grid-template-columns: 25rem 25rem 25rem;
  row-gap: 2.5rem;
  justify-content: stretch;
}
