@import '@/styles/_variables.scss';

.lastBeer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5rem;
  align-items: flex-start;

  @include md {
    padding: 0;
    height: 40rem;
    align-items: flex-end;
    flex-direction: row;
  }
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;

  img {
    width: 1920px;
    height: 100%;
    object-fit: cover;
    object-position: center;
    max-height: 40rem;
    overflow: hidden;

    @include xxl {
      object-fit: fill;
    }
  }
}

.descriptionBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  color: $color-text-secondary;
  z-index: 2;
  padding: 2.5rem;

  @include md {
    width: 44.5rem;
    height: 28.6rem;
    padding: 2rem 2rem 2rem 4rem;
  }

  @include xl {
    padding-right: 6rem;
  }

  @include xxl {
    padding-right: 8rem;
  }
}

.image {
  z-index: 2;
  flex: 0 0 20rem;
  overflow: hidden;

  @include md {
    flex: 0 0 44.45rem;
    height: 32rem;
  }
}
