.main {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 9rem auto 6rem;
}

.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.header * {
  z-index: 2;
}

.header::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 70%, 0.9);
  content: '';
}

.headerImage {
  width: 6rem;
  height: 6rem;
}

.headerHomeImage {
  width: 8rem;
  height: 8rem;
}

.backToHome {
  margin: 3rem 0 0;
}

.footer {
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
  padding: 1rem 2rem;
}

.copyright {
  display: flex;
  padding: 1rem 2rem;
  justify-content: flex-end;
  font-size: 0.75rem;
}
