@import '@/styles/_variables.scss';

.bgBlue {
  background-color: #cae1ec;
}

.main {
  margin: $height-header-mobile auto 0;

  @include md {
    margin: $height-header-desktop auto 3rem;
  }
}

.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.4rem;
  height: $height-header-mobile;
  font-family: Danmark;
  font-weight: bold;

  @include md {
    height: $height-header-desktop;
    padding-botom: 1rem;
  }
}

.header * {
  z-index: 2;
}

.header::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $color-bg-primary;
  opacity: 0.95;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  content: '';
}

.headerImage {
  position: relative;
  width: 5.5rem;
  height: 3.92rem;

  @include md {
    width: 6.5rem;
    height: 7rem;
    margin-top: 0.6rem;
  }
}

.headerHomeImage {
  width: 8rem;
  height: 8rem;
}

.langSwitchBox {
  width: 4.5rem;
  flex: 1 0 32vw;

  & > div {
    justify-content: flex-end;
  }
}

.backToHome {
  margin: 3rem 0 0;
}

.footer {
  display: flex;
  background: $color-bg-secondary;
  color: $color-text-secondary;
  padding: 1.8rem 2rem;

  a {
    color: $color-link-secondary;

    &:hover {
      color: $color-link-secondary-hover;
    }
  }
}

.footerNotes {
  p {
    font-size: 1rem;
    margin: 0.5rem 0;

    &:first-child {
      margin-bottom: 2rem;
      font-weight: bold;
      font-family: Danmark;
    }

    span {
      color: gray;
      font-family: Danmark;
      font-weight: bold;
      margin-right: 0.25rem;
    }

    a {
      margin-right: 0.25rem;
    }
  }
}

.footerMenu {
  margin: 4rem 0 0 12rem;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

.copyright {
  display: flex;
  padding: 0 2rem 1rem 2rem;
  justify-content: flex-end;
  font-size: 0.6rem;
  background: $color-bg-secondary;
  color: $color-text-secondary;

  a {
    margin-left: 0.25rem;
    color: $color-link-secondary;

    &:hover {
      color: $color-link-secondary-hover;
    }
  }
}

.footerIcon {
  margin-left: 0.5rem;
  svg {
    width: 1.1rem;
  }
}
