@import '@/styles/_variables.scss';

.nav {
  position: fixed;
  width: 30rem;
  background-color: pink;
  top: 0;
  bottom: 0;
  left: -30rem;
  transition: all 0.25s ease-out;
  z-index: 1;
}

.nav.isOpen {
  left: 0;
}

.nav ul {
  list-style-type: none;
  margin: 5rem 2rem;
  padding: 0;
}

.navButton {
  position: relative;
  width: 25px;
  height: 30px;
  cursor: pointer;
  z-index: 2;
}

.navLine {
  display: block;
  position: absolute;
  left: 0;
  width: 25px;
  height: 1px;
  background-color: black;
  transition: all 0.25s ease-out;
}

.firstLine {
  transform-origin: top left;
  top: 0px;
}

.secondLine {
  top: 7px;
}

.thirdLine {
  transform-origin: bottom left;
  top: 14px;
}

.isOpen .navLine {
  width: 20px;
}

.isOpen .firstLine {
  transform: rotate(45deg);
}

.isOpen .secondLine {
  opacity: 0;
}

.isOpen .thirdLine {
  transform: rotate(-45deg);
}
