@import '@/styles/_variables.scss';

.nav {
  position: fixed;
  width: 30rem;
  background-color: $color-bg-primary;
  top: 0;
  bottom: 0;
  left: -30rem;
  transition: all 0.25s ease-out;
  z-index: 3;

  @include md {
    position: relative;
    width: auto;
    background-color: transparent;
    top: auto;
    bottom: auto;
    left: auto;
    flex: 1 0 32vw;
  }
}

.nav.isOpen {
  left: 0;
}

.nav ul {
  list-style-type: none;
  margin: 5rem 2rem;
  padding: 0;

  @include md {
    display: flex;
    justify-content: space-between;
    margin: 0 3rem 0 0;
  }
}

.nav li {
  font-size: 1.5rem;
  margin: 0 0.5rem 2rem 0;

  @include md {
    font-size: 1rem;
    margin: 0 0.5rem 0 0;
  }
}

.navButton {
  position: relative;
  width: 24px;
  height: 30px;
  cursor: pointer;
  outline: none;
  z-index: 3;
  margin-top: 1rem;

  @include md {
    display: none;
  }
}

.close {
  font-family: Danmark;
  font-size: 1.8rem;
  line-height: 1;
  font-weight: bold;
}

.navLine {
  display: block;
  position: absolute;
  left: 0;
  width: 24px;
  height: 5px;
  background-color: $color-text-primary;
  transition: all 0.25s ease-out;
}

.navLineBorderTop {
  position: absolute;
  top: 0;
  left: 1px;
  right: 1px;
  height: 1px;
  background-color: $color-bg-primary;
}

.navLineBorderBottom {
  position: absolute;
  bottom: 0;
  left: 1px;
  right: 1px;
  height: 1px;
  background-color: $color-bg-primary;
}

.firstLine {
  transform-origin: top left;
  top: 0px;
}

.secondLine {
  top: 7px;
}

.thirdLine {
  transform-origin: bottom left;
  top: 14px;
}

.isOpen .navLine {
  display: none;
}

li.spaceTop {
  margin-top: 5rem;
}
