@import '@/styles/_variables.scss';

.container {
  display: flex;
  flex-direction: column;

  @include md {
    margin: 5rem 0 2rem;
    flex-direction: row;
  }
}

.intro {
  padding: 0 2rem;

  @include md {
    padding: 0;
    flex: 0 0 27rem;
  }
}

.beersWrapper {
  overflow-x: scroll;
  padding: 2rem 0 1rem;
}

.beers {
  display: flex;
  justify-content: space-between;
  width: 140%;

  @include md {
    width: 100%;
  }
}

.beersMobile {
  overflow-x: scroll;
}

.heading {
  font-size: 2.15rem;
  font-weight: bold;
  margin: 3rem 0 0;
  padding: 0;

  @include md {
    font-size: 2.8rem;
    margin: 4.3rem 0 0;
  }
}

.info {
  font-weight: 200;
  @include md {
    font-size: 1.35rem;
  }
}

.beerBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.beerName {
  font-weight: bold;
}

.details {
  display: none;
}

.mobileAll {
  display: flex;
  justify-content: center;
  margin: 3rem auto 4rem;
}

.seeAll {
  display: none;

  @include md {
    display: inline-block;
  }
}
