@import '@/styles/_variables.scss';

.container {
  margin-top: 6.5rem;
  position: relative;
  height: 614px;
  background-color: #917d76;

  h1 {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

    span {
      font-size: 5.625rem;
      background-color: $color-bg-primary-dark;
      padding: 0.5rem 2rem;
      line-height: 1.1;
      text-align: center;

      &:last-child {
        margin: 0 3rem;
        padding-bottom: 1rem;
      }
    }
  }
}

.content {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bgImage {
  z-index: 0;
  height: 614px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  object-fit: cover;
  object-position: center;

  &.ready {
    opacity: 1;
  }
}
