@import '@/styles/_variables.scss';

.postBox {
  padding: 0 0 4rem;
  transition: height 1s ease-in-out;
  max-height: 10000px;
}

.heading {
  position: relative;
  height: 30rem;

  h1 {
    color: $color-text-secondary;
    text-shadow: 2px 2px $color-text-primary;
    position: absolute;
    bottom: 1rem;
    left: 2rem;
    z-index: 1;
  }
}

.headingImgBox {
  width: 100%;
  height: 100%;
}

.headingImg {
  object-fit: cover;
  object-position: center;
}
