@import '@/styles/_variables.scss';

.postBox {
  padding: 0 0 4rem;
  transition: height 1s ease-in-out;
  max-height: 10000px;
}

.heading {
  position: relative;
  height: 30rem;
}

.title {
  color: $color-text-secondary;
  text-shadow: 2px 2px $color-text-primary;
  position: absolute;
  bottom: 2.75rem;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 0 2rem;

  h1 {
    font-size: 2.2rem;
  }

  @include md {
    padding: 0;
  }
}

.headingImgBox {
  width: 100%;
  height: 100%;
}

.headingImg {
  object-fit: cover;
  object-position: center;
}

@keyframes animateHeight {
  from {
    height: 0;
  }
  to {
    height: 20px; /* your line height here */
  }
}

.body {
  margin: 0 2rem;

  @include md {
    margin: 0;
  }
}

.content {
  margin: 3rem 0 5rem;
  max-height: 500px;
  transition: max-height 0.9s ease-in-out;

  & > div {
    animation-duration: 0.9s;
    animation-name: animateHeight;
    transition: height 0.9s;
  }

  &.isExpanded {
    max-height: 3500px;
    transition: max-height 0.9s ease-in-out;
  }
}
