@import '@/styles/_variables.scss';

@mixin section {
  display: flex;
  max-width: $screen-xxxl-min;
  margin: 0 auto;
}

.paleSection {
  @include section;
}

.brownSection {
  @include section;
  background-color: #a8af9e;
  flex-direction: column;

  @include md {
    flex-direction: row;
  }
}

.colorSection {
  @include section;
  background-color: #56baba;
  flex-direction: column-reverse;

  @include md {
    flex-direction: row;
  }
}

.photo {
  flex: 1 0 50%;
}
