@import '@/styles/_variables.scss';

.news {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 3rem 0;
  padding: 0 2.5rem;

  @include md {
    padding: 0;
    margin-bottom: 0;
    flex-direction: row;
  }

  & > div {
    &:first-child {
      padding-bottom: 4rem;
      border-bottom: 2px solid $color-text-primary;
    }

    &:last-child {
      padding-top: 4rem;
    }

    @include md {
      width: 50vw;

      &:first-child {
        padding-bottom: 0;
        padding-right: 2rem;
        border-right: 2px solid $color-text-primary;
        border-bottom: none;
      }

      &:last-child {
        padding-top: 0;
        padding-left: 2rem;
      }
    }
  }
}
