$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
$screen-xxl-min: 1366px;
$screen-xxxl-min: 1920px;

@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

@mixin xxl {
  @media (min-width: #{$screen-xxl-min}) {
    @content;
  }
}

@mixin xxxl {
  @media (min-width: #{$screen-xxxl-min}) {
    @content;
  }
}

// colors
$color-text-primary: #020101;
$color-text-secondary: #fff;
$color-bg-primary: #f2ebe7;
$color-bg-secondary: #020101;
$color-bg-alternative: #88a0ac;
$color-bg-primary-dark: #c0a291;

// link colors
$color-link: $color-text-primary;
$color-link-hover: #c0a291;
$color-link-active: #c0a291;
$color-link-secondary: #fff;
$color-link-secondary-hover: #c0a291;

// other
$height-header-mobile: 5.67rem;
$height-header-desktop: 6.5rem;
