@import '@/styles/_variables.scss';

@font-face {
  font-family: Peggs;
  src: url('/peggs-medium-pro.otf') format('opentype');
}

@font-face {
  font-family: Danmark;
  font-weight: bold;
  src: url('/Danmark-Bold.otf') format('opentype');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Peggs, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 13px;
  color: $color-text-primary;
  background-color: $color-bg-primary;

  @include xl {
    font-size: 14px;
  }

  @include xxl {
    font-size: 16px;
  }

  @include xxxl {
    font-size: 18px;
  }
}

* {
  box-sizing: border-box;
}

a {
  color: $color-link;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: $color-link-hover;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Danmark;
  font-weight: bold;
  line-height: 1.1;
}

h1,
h3 {
  font-size: 2.78rem;
  margin: 0;
  padding: 0;

  @include md {
    font-size: 2.15rem;
  }
}

h2 {
  font-family: Peggs;
  font-size: 4.7rem;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

p {
  @include md {
    font-size: 1.26rem;
  }
}

dt,
dd {
  margin-inline-start: 0;
  font-size: 1.26rem;
}
